@*@model IEnumerable<PJCMobile.Models.task>*@
@model IEnumerable<PJCMobile.Models.usertask>
@{
    ViewBag.Title = "Tasks";
    int i = 0;
}

@section Header {
    @Html.ActionLink(User.Identity.Name, "Index", "Account", routeValues: null, htmlAttributes: new { @class="ui-btn-right", data_icon = "gear" })
    @Html.ActionLink("Back", "Index", "Home", routeValues: null, htmlAttributes: new { @class="ui-btn-left", data_icon = "arrow-l" })
    <h1>@ViewBag.Title</h1>
}

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <ul data-role="listview" data-inset="true">
            <li>
                @Html.ActionLink(item.task.taskName, "Details", new { id = item.task.taskID, @class = "task-links" })
                @if (item.lastCompleted == null || ((DateTime)item.lastCompleted).ToString("MM/dd/yyyy") != DateTime.Now.ToString("MM/dd/yyyy"))
                {
                    <i class="fa fa-square-o fa-2x task-icon"></i>
                }
                else
                {
                    <i class="fa fa-check-square-o fa-2x task-icon"></i>
                }
            </li>
        </ul>
    }
}
else
{
    <div>
        Good Job! You have no tasks
    </div>
}
