@model IEnumerable<PJCMobile.Models.task>

@{
    ViewBag.Title = "Tasks";
}

@foreach (var item in Model)
{
    <ul data-role="listview" data-inset="true">
        <li>
            @Html.ActionLink(item.taskName, "Details", new { id=item.taskID })
        </li>
    </ul>
}
