@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome</h1>
                <h2>to the PARC Pocket Job Coach!</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Get Familiar with PARC and the Pocket Job Coach</h3>
<ol class="round">
    <li class="one">
        <h5>About PARC</h5>
        The Pioneer Adult Rehab Center (PARC) is an AbilityOne producing nonprofit organization in Northern Utah. We started 40
        years ago and today serve over 400 clients annually. We have helped place and maintain
        hundreds in permanent employment, Recently we have helped start and pilot a national program named
        Pathways To Careers. Our programs are about choices for individuals with disabilities looking
        for independence through employment and training. Individual support strategies are developed
        cooperatively with the individual, his/her guardian, and professional staff at PARC. The
        programs are specifically designed to help people with disabilities who cannot obtain training
        and employment without external supports. (<a href="http://www.parc-ut.org/about/" target="_parc">http://www.parc-ut.org/about/</a>)
    </li>

    <li class="two">
        <h5>The PARC Pocket Job Coach</h5>
        The PARC Pocket Job Coach is used in correlation with the normal training of people with
        disabilities on jobs in a competitive employment settings. This training is performed by Job Coaches at Pioneer
        Adult Rehab Center (PARC). Many times after the initial one on one job coach training takes
        place, the individual still can benefit greatly from a prompting system. Because of limited
        funding available many times effective prompting cannot be provided as frequently or timely as
        needed. The PARC Pocket Job Coach provides prompting and assistance to the person for higher
        levels of stability and progression on the job without having the physical presence of a job coach.
    </li>

    <li class="three">
        <h5>Getting Started</h5>
        To get started with Pocket Job Coach, click the Login button at the top of this page and use your credentials to login.  If you don't have credentials to login please contact an employee of PARC.
    </li>
</ol>
