@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<h3>Add A User</h3>
<form>
    First name:<br/>
    <input type="text" name="firstname">
    <br/>
    Last name:<br/>
    <input type="text" name="lastname">
    <br />
    <input type="submit" value="Submit">
</form>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
</ul>