@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.date</h2>

<ul data-role="listview" data-inset="true">
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    <li>@Html.ActionLink("Admin", "Admin", "Home")</li>
</ul>