@model PJCAdmin.Models.TaskModel
\
<li>\
    <div>\
        <p>TestTaskName - Description</p>\
        <button class="AddTask">Add New Task</button>\
        <button class="RemoveTask">Remove Task</button>\
    </div>\
</li>