@model PJCAdmin.Models.TaskModel
\
<li>\
    <table>\
        <tr><td>\
            <p>NewTaskName - Description</p>\
            </td></tr>\
        <tr>\
            <td>\
                <button class="AddTask">Add New Task</button>\
            </td>\
            <td>\
                <button class="RemoveTask">Remove Task</button>\
            </td>\
        </tr>\
    </table>\
</li>