@model PJCAdmin.Models.RoutineModel

@{
    ViewBag.Title = "Routine Details - Testing";
    //ProfileCommon userProfile = (ProfileCommon)ProfileCommon.Create(Model.UserName, true);
}

<h2>Routine Details <small style="color:#808080">@Html.DisplayFor(model => model.routineTitle)</small></h2>
<table>
    <tr><td><b>Routine</b></td><td>Testing</td></tr>
</table>

<ol id="Tasks">
</ol>

<script>
    function InsertNewTask(atIndex) {
        if ($("#Tasks li").length > atIndex) {
            $('#Tasks li:eq(' + atIndex + ')').before('@Html.Partial("_ViewTask", new PJCAdmin.Models.TaskModel())');
        }
        else if ($("#Tasks li").length == atIndex){
            $("#Tasks").append('@Html.Partial("_ViewTask", new PJCAdmin.Models.TaskModel())');
        }
        return false;
    }

    function DeleteTask(atIndex) {
        if ($("#Tasks li").length == 1) {
            return false;
        }

        $("#Tasks li").eq(atIndex).remove();
        return false;
    }

    $(document).ready( function() {
        InsertNewTask(0);
        $("#Tasks").on('click', 'button.AddTask', function (event) {
            event.preventDefault();
            var currentIndex = $(this).parent().parent().index();
            InsertNewTask(currentIndex);
        });
        $("#Tasks").on('click', 'button.RemoveTask', function (event) {
            event.preventDefault();
            var currentIndex = $(this).parent().parent().index();
            DeleteTask(currentIndex);
        });
    });
</script>