@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Unfortunately </h1>
    <h2 class="error">Your request could not be completed. Try again later.</h2>
</hgroup>
