@model PJCMobile.Models.User
@{
    ViewBag.Title = "Job Coach";
    ProfileCommon userProfile = (ProfileCommon)ProfileCommon.Create(Model.UserName, true);
}


@if (Model.UserName != null) { 
<hgroup class="title">
    <h1>@Model.UserName</h1>
</hgroup>

<table style="width: 100%">
    <tr>
        <td>
            <ul data-role="listview" data-inset="true">
                <li style="height: 150px;">
                    <a href="tel:@userProfile.PhoneNumber">Call</a>
                    <i class="fa fa-phone fa-5x btn-icon"></i>
                </li>
            </ul>
        </td>
    </tr>
</table>

<table style="width: 100%">
    <tr>
        <td style="width: 50%">
            <ul data-role="listview" data-inset="true">
                <li style="height: 150px;">
                    <a href="mailto:@System.Web.Security.Membership.GetUser(Model.UserId).Email">Email</a>
                    <i class="fa fa-envelope-o fa-5x btn-icon"></i>
                </li>
            </ul>
        </td>
        <td style="width: 50%">
            <ul data-role="listview" data-inset="true">
                <li style="height: 150px;">
                    <a href="sms:@userProfile.PhoneNumber">Text</a>
                    <i class="fa fa-comment fa-5x btn-icon"></i>
                </li>
            </ul>
        </td>
    </tr>
</table>
}
else
{
    <h2>You don't have a job coach. Contact your system administrator.</h2>
}


