@{
    ViewBag.Title = "Delete";
}

<h2>Delete User Confirmation</h2>

<h4>Are you sure you want to delete @ViewData["user"] from the system? <small> This action is irreversible.</small></h4>
<br />
<form action="~/Account/Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="username" value="@ViewData["user"]"/>
    <input type="submit" value="Yes" />
</form>
<br />
<br />
@Html.ActionLink("Cancel", "List")
