@{
    ViewBag.Title = "Calendar";
}

<html>

<head>

    <title>Calendar</title>

    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery-ui.css"/>

</head>


<body>

    <div id="calendar" style="float:left"> </div>

    <script>
    $(function () {
        $("#calendar").datepicker();
    });
    </script>

</body>


</html>