@{
    ViewBag.Title = "Calendar";
}

<html>

<head>

    <title>Calendar</title>

    <script src="~/Scripts/jquery.calendar-widget.js" type="text/javascript"> </script>

</head>


<body>

    <div id="calendar" style="float:left">
        
    </div>

    @*@Scripts.Render("~/Scripts/jquery.calendar-widget")*@
    @*@RenderSection("Scripts",required:false)*@
    <script type="text/javascript">
        calendar();
    </script>

    <script>
        $(function () {
            $("#calendar").calendarWidget({ month: 3, year: 2015 });
        });
    </script>

</body>


</html>