@{
    ViewBag.Title = "Calendar";
}


<h3>Calendar</h3>

<div>

    <img src="http://www.freeallpictures.com/wp-content/uploads/2015/01/March-Calendar-2015-4.gif" style="max-width:100%;">


    <script src ="/Scripts/Calendar.js"></script>
    <script  type="text/javascript">
    $("#calendar").calendarWidget({
        month: 3,
        year: 2015
    });
    </script>

</div>


