@{
    ViewBag.Title = "Index";
}

<h2>Tools Page</h2>

<button title="NotesButton" value="Notes"></button>
<button title="WageCalculatorButton" value="Wage Calculator"></button>
<button title="CalendarButon" value="Calendar"></button>