@{
    ViewBag.Title = "Notes";
}

<h2>Note Taker</h2>
<div id="noteTaking">
    <form>
        <h3>Subject</h3><input />
        <h3>Note:</h3>
        <textarea rows="50" cols="50"></textarea>
    </form>
</div>
<div id="previousNotes">
    <ul style="list-style:none;">
        <li></li>
    </ul>
</div>
