@{
    ViewBag.Title = "Notes";
}

@section Header {
    @Html.ActionLink(User.Identity.Name, "Index", "Account", routeValues: null, htmlAttributes: new { @class="ui-btn-right", data_icon = "gear" })
    @Html.ActionLink("Back", "Index", "Tools", routeValues: null, htmlAttributes: new { @class="ui-btn-left", data_icon = "arrow-l" })
    <h1>@ViewBag.Title</h1>
}

<h2>Note Taker</h2>
<div id="noteTaking">
    <form>
        <h3>Subject</h3><input id="subjectLine" a />
        <h3>Note:</h3>
        <textarea rows="50" cols="50" id="notes"></textarea>
        <input id="SaveButton" value="Save" type="submit" />
        <input id="CancelButton" value="Cancel" type="submit"/>
        
    </form>
</div>
<div id="previousNotes">
    <h4>Previous Notes</h4>
    <ul style="list-style:none;">
        <li></li>
    </ul>
</div>
