@{
    ViewBag.Title = "Notes";
}

<h2>Note Taker</h2>
<div id="noteTaking">
    <form>
        <h3>Subject</h3><input />
        <h3>Note:</h3>
        <textarea rows="50" cols="50"></textarea>
        <input id="SaveButton" value="Save" type="button" />
        <input id="CancelButton" value="Cancel" type="button"/>
        
    </form>
</div>
<div id="previousNotes">
    <h4>Previous Notes</h4>
    <ul style="list-style:none;">
        <li></li>
    </ul>
</div>
