@{
    ViewBag.Title = "WageCalculator";
}

<h2>Wage Calculator</h2>

<div>
    <form>
        <h3>Enter number of hours worked:</h3> <input />
        <h3>Enter hourly wage:</h3> <input />
        <button name="CalculateButton" value="Calculate" ></button>
        
    </form>
</div>