@{
    ViewBag.Title = "WageCalculator";
   
}

<h2>Wage Calculator</h2>
<div>
    <form>    
       
        Enter number of hours worked: <input id ="hoursWorked" type="number"  rows ="30" cols ="30" width = "20" size="20"/>
        Enter hourly wage: <input id ="hourlyWage" type="number" size="25" width="25"/>
        <input id="CalculateButton" type="submit" value="Calculate" onclick= "Math.round((hoursWorked.value * hourlyWage.value),2)" />
        <b></b>
        <label id="DisplayWage">Money Earned: </label> 
        
    </form>
</div>


