@{
    ViewBag.Title = "Unauthorized";
}

<h2>Unauthorized</h2>
<p> You do not have the correct permissions to view this page.  <a href="#" onclick="history.back(-1);">Click here</a> to go back to where you came from.</p>
